*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    user-select: none;
}

body.no-scroll {
    overflow: hidden;
  }

#open-sidebar-btn{
    position: fixed;
    opacity: 0;
    right: 20px;
    top: 10px;
    background-color: #0d71cf;
    padding: 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    z-index: 1000;
    transition: opacity 0.3s ease;
}

#open-sidebar-btn i{
    color: #fff;
    font-size: 20px;
}

#overlay {
    position: fixed;
    inset: 0; /* top: 0; left: 0; right: 0; bottom: 0; */
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
  }
  
  #overlay.active {
    display: block;
  }

aside{
    position: fixed;
    width: 560px;
    height: 100vh;
    background-color: #040b14;
}

.profile-card{
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

.profile-card h1 a {
    text-decoration: none;
    color: #fff;
}

.profile-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid 10px rgb(44, 47, 63)
}

.profile-name{
    font-size: 48px;
    font-weight: 600;
    margin: 20px 0
}

.social-links{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-links a{
    background-color: rgb(44, 47, 63);
    padding: 20px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.social-links i {
    color: #fff;
    font-size: 30px;
    transition: transform 0.5s ease;
}

.social-links a:hover{
    background-color: #22374b;
}

.social-links a:hover i{
    transform: scale(1.2);
}

nav {
    margin: 60px 0;
}

.nav-links{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav-links a{
    display: flex;
    color: rgb(44, 47, 63);
    text-decoration: none;
    font-size: 28px;
    padding: 10px 0;
    margin: 15px 75px;
    column-gap: 12px;
    transition: color 0.3s ease;
}

.nav-links a:hover{
    color: #fff;
}

.nav-links a:hover i{
    color: #0d71cf;
}

.active-section a i{
    color: #0d71cf;
}

.active-section a{
    color: #fff;
}


#home{
    margin-left: 560px;
    height: 100vh;
    background-image: url(../img/bg.png);
    background-size: cover;
    position: relative;
}

#home-content{
    position: absolute;
    top: 35%;
    color: #fff;
    margin-left: 4rem;
}

#home-content h1{
    font-size: 9rem;
    font-weight: 700;
}

#home-content p{
    font-size: 3rem;
    margin-top: 1rem;
    font-weight: 600;
}

#typed-text{
    position: relative;
}

#typed-text::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 4px;
    background-color: #0d71cf;
}

#about{
    margin-left: 560px;
    height: 100vh;
    position: relative;
}

#about-content{
    padding: 100px 60px 0px 60px;
}

#about-content h2{
    font-size: 3rem;
    color: rgb(23, 59, 108);
}

#about-content > h2{
    display: inline-block;
    position: relative;
}

#about-content > h2::after{
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #0d71cf;
}

#about-content p{
    font-size: 2rem;
    margin-top: 60px;
    text-align: justify;
}

#about-card{
    margin-top: 60px;
    display: flex;
    column-gap: 50px;
}

#about-card img{
    width: 400px;
    margin-bottom: 20px
}

#card-info ul{
    list-style: none;
}

.lists{
    margin-top: 20px;
    display: flex;
    column-gap: 180px;
}

.lists li{
    margin-top: 40px;
    font-size: 20px;
    display: flex;
    column-gap: 10px;
}

.lists li a {
    text-decoration: none;
    color: black
}

.fas{
    color: #0d71cf;
}

.scroll-to-top {
    position: fixed;
    opacity: 0;
    right: 20px;
    bottom: 0;
    background-color: #0d71cf;
    padding: 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    z-index: 1000;
    transition: opacity 0.3s ease;
}

.scroll-to-top i{
    color: #fff;
    font-size: 20px;
}

#home-btn, #about-btn{
    cursor: pointer;
}

@media screen and (max-width: 1898px) {
    aside {
        transform: translateX(-100%);
        transition: transform 0.6s ease;
        z-index: 1000;
    }

    aside.active{
        transform: translateX(0);
    }

    #home,
    #about {
        margin-left: 0;
    }

    #open-sidebar-btn{
        opacity: 1;
    }
}

@media screen and (max-width: 1898px) and (min-width: 1450px) {
    #about-card {
        column-gap: 150px;
    }
}

@media screen and (max-width: 1339px) and (min-width: 1263px) {
    .lists {
        column-gap: 100px;
    }
}

@media screen and (max-width: 1262px) and (min-width: 1210px) {
    .lists{
        column-gap: 50px
    }
}

@media screen and (max-width: 1209px) and (min-width: 1151px){
    .lists{
        column-gap: 70px;
        margin-top: 0;
    }
}

@media screen and (max-width: 1209px) {
    #about-card img{
        width: 250px;
    }

    .lists{
        margin-top: 0;
    }
}

@media screen and (max-width: 1150px) and (min-width: 1080px) {
    #about-content{
        font-size: 1rem;
    }
    
    .lists{
        column-gap: 70px
    }
    
    #about-card{
        margin-top: -30px;
    }
}

@media screen and (max-width: 1079px) {
    #home-content h1{
        font-size: 6rem;
        font-weight: 700;
    }

    #home-content p{
        font-size: 2rem;
    }
}

@media screen and (max-width: 1079px) and (min-width: 1050px){
    .lists{
        column-gap: 40px;
    }

    #about-content p{
        font-size: 1.6rem;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 1049px) and (min-width: 970px) {
    #about-content p{
        font-size: 1.5rem;
        margin-bottom: 40px;
    }

    #about-card{
        margin-top: 80px;
    }
    
    .lists{
        column-gap: 40px;
    }

    .lists li {
        font-size: 17px;
    }
}


@media screen and (max-width: 970px){
    #about-card{
        flex-direction: column;
        text-align: center;
    }

    #about-content{
        padding-bottom: 20px
    }

    #about-card img{
        width: 100%;
    }

    .lists{
        flex-direction: column;
        gap: 0;
    }

    .lists li {
        margin-top: 20px;
    }
}

@media screen and (max-width: 607px) {
    #about-content h2{
        font-size: 2rem;
    }
    #about-content p {
        font-size:  1.35rem;
    }
}

@media screen and (max-width: 740px) and (min-width: 520px){
    #home-content h1 {
        font-size: 4rem
    }
    }

@media screen and (max-width: 740px){
    #home-content p{
        font-size: 1.33rem;
    }
}

@media screen and (max-width: 519px) {
    #home-content h1 {
        font-size: 2.7rem
    }
    #home-content p{
        font-size: 1rem;
    }
}

@media screen and (max-width: 440px) {
    #about-content p{
        margin-top: 30px;
    }
    #about-content{
        padding-top: 50px;
    }
}

@media screen and (max-width: 440px) and (min-width: 379px){
    #about-content li {
        font-size: 16px
    }
    #about-content p{
        font-size: 1rem;
    }
    #about-content h2{
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 378px) and (min-width: 349px){
    #about-content li {
        font-size: 14px
    }
    #about-content p{
        font-size: 0.9rem;
    }
    #about-content h2{
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 348px){
    #about-content li {
        font-size: 12px
    }
    #about-content p{
        font-size: 0.7rem;
    }
    #about-content h2{
        font-size: 0.95rem;
    }
}

  
@media screen and (max-width: 720px) {
    aside {
      width: 80%;
    }
  }

  @media screen and (max-width: 470px) {
    .profile-card h1{
        font-size: 2rem;
    }
    aside {
        width: 70%;
      }
  }